[user]
	name = Joe Steele
	email = Joseph.Steele@leedsth.nhs.uk
[core]
	excludesfile = F:\\gitignore_global.txt
	whitespace = cr-at-eol,ignore-space-at-eol
[include]
	path = .common.gitconfig
[alias]
	chc = "!f() { git checkout CP-$1; }; f"
	cbc = !sh -c 'git checkout -b CP-$1' --
	mc = !sh -c 'git merge CP-$1 --ff' --
	sbc = !sh -c 'git show-branch CP-$1 $(git rev-parse --abbrev-ref HEAD)' --
	dbc = !sh -c 'git branch -D CP-$1' --
	rod = rebase origin/develop
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	trustexitcode = true
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[diff]
	guitool = p4merge
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
